<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>FirstWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.chainsys.miniproject.listeners.SessionListener</listener-class>
</listener>  
  <servlet>
    <description></description>
    <display-name>Helloworld</display-name>
    <servlet-name>Helloworld</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helloworld</servlet-name>
    <url-pattern>/Helloworld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>com.chainsys.webapp.first.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParam</display-name>
    <servlet-name>RequestParam</servlet-name>
    <servlet-class>com.chainsys.webapp.first.RequestParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParam</servlet-name>
    <url-pattern>/RequestParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.chainsys.webapp.first.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributesDemo</display-name>
    <servlet-name>AttributesDemo</servlet-name>
    <servlet-class>com.chainsys.web.home.AttributesDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributesDemo</servlet-name>
    <url-pattern>/AttributesDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionState</display-name>
    <servlet-name>SessionState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.SessionState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionState</servlet-name>
    <url-pattern>/SessionState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GlobalState</display-name>
    <servlet-name>GlobalState</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GlobalState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GlobalState</servlet-name>
    <url-pattern>/GlobalState</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result</display-name>
    <servlet-name>Result</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result</servlet-name>
    <url-pattern>/Result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor</display-name>
    <servlet-name>Doctor</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Doctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor</servlet-name>
    <url-pattern>/Doctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appointment</display-name>
    <servlet-name>Appointment</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Appointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointment</servlet-name>
    <url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDoctorByld</display-name>
    <servlet-name>GetDoctorByld</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetDoctorByld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDoctorByld</servlet-name>
    <url-pattern>/GetDoctorByld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeByld</display-name>
    <servlet-name>GetEmployeeByld</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetEmployeeByld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeByld</servlet-name>
    <url-pattern>/GetEmployeeByld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAppointmentByld</display-name>
    <servlet-name>GetAppointmentByld</servlet-name>
    <servlet-class>com.chainsys.webapp.first.GetAppointmentByld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAppointmentByld</servlet-name>
    <url-pattern>/GetAppointmentByld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorName</display-name>
    <servlet-name>UpdateDoctorName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateDoctorName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorName</servlet-name>
    <url-pattern>/UpdateDoctorName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeFirstName</display-name>
    <servlet-name>UpdateEmployeeFirstName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployeeFirstName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeFirstName</servlet-name>
    <url-pattern>/UpdateEmployeeFirstName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientName</display-name>
    <servlet-name>UpdatePatientName</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdatePatientName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientName</servlet-name>
    <url-pattern>/UpdatePatientName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointment</display-name>
    <servlet-name>UpdateAppointment</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointment</servlet-name>
    <url-pattern>/UpdateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeSalary</display-name>
    <servlet-name>UpdateEmployeeSalary</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateEmployeeSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeSalary</servlet-name>
    <url-pattern>/UpdateEmployeeSalary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCollectedFees</display-name>
    <servlet-name>UpdateCollectedFees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateCollectedFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCollectedFees</servlet-name>
    <url-pattern>/UpdateCollectedFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorFees</display-name>
    <servlet-name>UpdateDoctorFees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.UpdateDoctorFees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorFees</servlet-name>
    <url-pattern>/UpdateDoctorFees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.chainsys.webapp.first.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctor</display-name>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>com.chainsys.webapp.first.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employees</display-name>
    <servlet-name>Employees</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/Employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctors</display-name>
    <servlet-name>Doctors</servlet-name>
    <servlet-class>com.chainsys.webapp.first.Doctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctors</servlet-name>
    <url-pattern>/Doctors</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.chainsys.webapp.second.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
</web-app>